.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.circle-image {
  width: 180px;
  border-radius: 50%;
}